extends layout

block content
  header.head-head
    h1= title
    p.only-text Dude Just Let Me Know Ur Ok
  main.mama
    a.add-message(href='/new') Add New Message
    each message in messages
      div.mess
        h2= message.title
        div.info
          h3.username= message.user
          h5= message.day
        div.text
          h4= message.text
        

